html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans';
}

#home {
    background: url(../img/header.png) no-repeat left;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.overlay {
    width: 100%;
    position: absolute;
    background-color: rgba(36, 36, 36, 0.3);
    height: 100vh;
    z-index: 1;
}

nav {
    width: 100%;
    height: 140px;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5 ease;
}

nav img {
    height: 110px;
    margin-left: 15%;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #e4e4e4;
    line-height: 140px;
    font-size: 1.25em;
    transition: all 0.3s ease-in-out;
}

.slogan {
    color: #e4e4e4;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 2;
    text-align: center;
    font-size: 5em;
    font-weight: bolder;
    font-family: 'Indie Flower';
    letter-spacing: -0.035em;
}

.fa-chevron-down {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #e4e4e4;
    font-size: 3em;
    animation: float 700ms linear 1s infinite alternate;
}

@keyframes float {
    from {
        margin-top: 0;
    }

    to {
        margin-top: 10px;
    }
}

/* BURGER ICON */

.icon {
    width: 50px;
    height: 90px;
    cursor: pointer;
    display: none;
}

/* SOLID NAVBAR */

nav.solid {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: #3b3b3b;
    height: 80px;
    transition: 0.5s ease;
}

nav.solid img {
    height: 75px;
}


/* The basic structure of the animated Menu Icon */

.structure {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    background: #e4e4e4;
    border-radius: 5px;
    transition: .5s
}

.structure:before,
.structure:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background: #e4e4e4;
    border-radius: 5px;
    transition: .5s
}

/* Space between top, middle and bottom bars */

.structure:before {
    top: -10px;
}

.structure:after {
    top: 10px;
}

/* Makes middle bar fade */
.icon.active .structure {
    background: rgba(0, 0, 0, 0);
}

/* Makes top bar rotate to 45 deg */
.icon.active .structure:before {
    transform: rotate(45deg);
    top: 0;
}

/* Makes bottom bar rotate to 135 deg */
.icon.active .structure:after {
    transform: rotate(135deg);
    top: 0;
}

.menu-mobile {
    display: none;
}

.menu-mobile a {
    width: 100%;
    color: #e4e4e4;
    text-decoration: none;
    font-size: 1.75em;
    list-style: none;
    margin: 0;
    padding: 15px 0 10px 0;
    background-color: #3b3b3b;
    position: relative;
    z-index: 2;
    top: -15%;
}

/* ABOUT SECTION */

.container {
    width: 100%;
    text-align: center;
    position: relative;
    padding-top: 50px;
    padding-bottom: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(75%, rgba(80, 204, 226, 0.699)), to(rgba(107, 163, 216, 0.507)));
    background: linear-gradient(to bottom, #ffffff 0%, rgba(80, 204, 226, 0.699) 75%, rgba(107, 163, 216, 0.507) 100%);
}

.container h1 {
    padding: 25px 0;
    border-bottom: solid 1px #a8a8a8;
    width: 66%;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.5em;
}

.container p {
    width: 66%;
    margin: auto;
    padding: 50px 0;
    font-size: 1.5em;
    font-weight: lighter;
    text-align: left;
}

.container img {
    width: 100%;
    height: auto;
    padding-top: 120px;
    margin-bottom: -10px;
}

/* REGION SECTION */


#region .container {
    background: #e4e4e4;
}

.container .umbria {
    width: 20%;
    height: auto;
    padding: 30px 0;
}


#region .container p {
    padding-bottom: 20px;
}

/*PRODUCERS SECTION */

#producers .container {
    background: linear-gradient(to bottom, #e4e4e4, #5f6b27);
}

#producers img, #products .truffleoil {
    width: 33%;
    height: auto;
    border-radius: 50%;
    padding-top: 30px;
    padding-bottom: 100px;
}

#producers h2 {
    padding-top: 35px;
}

/* PRODUCTS SECTION */

#products {
    background: linear-gradient(to bottom, #5f6b27, #e4e4e4);
}

#products .container {
    background: linear-gradient(to bottom, #5f6b27, #e4e4e4);
    width: 88%;
    margin: auto;
    padding: 60px 0;
}

#products .container p {
    width: 100%;
}

.product-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px 20px;
    padding: 60px 0;
}

.product-card {
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

.product-card img {
    padding-top: 0;
}


.product-card a {
    text-decoration: none;
}

.product-card h2 {
    font-size: 0.95em;
    letter-spacing: -0.05em;
    color: #000;
}

.product-card a .details {
    color: white;
    background-color: #000;
    padding: 12px 0;
    text-align: center;
    cursor: pointer;
    font-size: 1em;
}

/* FOOTER */

footer {
    border-top: solid 3px #242805;
    background: #fff;
    padding: 25px 0;
}

.footer-container {
    position: relative;
    width: 75%;
    margin: auto;
    z-index: 2;
}

footer h1 {
    font-size: 1.25em;
    color: #000;
    margin-bottom: 5px;

}

.footer-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around
}


.footer-menu ul {
    padding-inline-start: 0;
    margin: 0;
}

.footer-menu ul li {
    list-style: none;
    padding: 2px 0;
}

.footer-menu ul li a {
    color: #000;
    text-decoration: none;
    font-size: 1em;
    transition: all 0.3s ease-in-out;
}

.social-links {
    text-align: center;
    padding: 15px 0;
}

.social-links a {
    color: #000;
    font-size: 2.25em;
    padding: 5px 15px;
    transition: all 0.3s ease-in-out;
}

.social-links a:hover,
.footer-menu ul li a:hover {
    color: #3b3b3b;
    transition: all 0.3s ease-in-out;
}

footer a img {
    display: block;
    width: 35%;
    margin: auto;
    padding: 25px 0;
}

.credits {
    text-align: center;
    font-size: 0.7em;
}

.credits .heartbeat {
    color: rgba(255,0,0,0.3);
    font-size: 20px;
    animation: heartbeat 0.8s linear alternate infinite;
}

@keyframes heartbeat {
    from {
        color: rgba(255,0,0,0.3);
    }
    to {
        color: rgb(255,0,0);
    }
}

/* PRODUCT PAGES */

.product-header {
    background: url(../img/prod-page-bg.png) right no-repeat;
    background-size: cover;
    height: 100px;
    position: relative;
}

.product-header a {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    text-decoration: none;
    color: #e4e4e4;
    margin-left: 25px;
    position: absolute;
    top: 25%;
}

.product-header a i {
    margin-right: 10px;
}

.product-description img {
    border: solid 2px #3b3b3b;
    padding: 10px;
}

.product-description {
    margin-top: 75px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 15%;
}

.product-text {
    margin-left: 35px;
}

.product-text p {
    font-size: 1.25em;
}


/*MEDIA QUERIES */

/*===================== Responsive Styling =========================*/
@media only screen and (max-width: 1280px) {

    /* PRODUCTS */

    .product-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    /* INDIVIDUAL PRODUCTS PAGE LAYOUT */

    .product-description {
        padding: 0 5%;
    }
}

@media only screen and (max-width: 1024px) {

    nav ul li a {
        font-size: 0.9em;
    }

    .container h1 {
        width: 75%;
    }

    .container p {
        width: 75%;
    }

    .container .umbria {
        width: 50%;
    }

    /* PRODUCTS */

    .product-container {
        grid-template-columns: 1fr 1fr;
    }

    /* INDIVIDUAL PRODUCTS PAGE LAYOUT */

    .product-description {
        padding: 0 5%;
    }

    .product-description img {
        width: 40%;
        margin-left: 35px;
    }

    .product-text {
        max-width: 60%;
        margin-right: 20px;
    }

    .product-text h2 {
        font-size: 1.35em;
    }

    .product-text p {
        font-size: 1em;
    }

}

@media only screen and (max-width: 768px) {

    nav {
        height: 80px;
        position: fixed;
        width: 100%;
        z-index: 10;
        top: 0;
        background: #3b3b3b;
    }

    nav img {
        height: 75px;
    }

    .icon {
        display: block;
    }

    .menu {
        display: none;
    }

    .menu-mobile.block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #3b3b3b;
        z-index: 5;
        transition: all 0.5 ease;
    }

    .slogan {
        font-size: 4.75em;
        top: 50%;
    }

    .fa-chevron-down {
        font-size: 2.5em;
    }

    /* NAV MOBILE */

    nav.mobile {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
        background-color: #3b3b3b;
        height: 90px;
        transition: all 0.5s ease;
    }

    nav.mobile img {
        height: 85px;
    }

    /* ABOUT SECTION */

    .container h1 {
        font-size: 2em;
        width: 75%;
    }

    .container p {
        font-size: 1.1em;
        width: 75%;
    }

    /* REGION SECTION */

    .container .umbria {
        width: 50%;
    }

    /* PRODUCER SECTION */

    #producers img,  #products .truffleoil {
        padding: 20px 0;
    }

    /* INDIVIDUAL PRODUCTS LAYOUT PAGE */

    .product-header {
        height: 65px;
    }

    .product-header a {
        top: 15%;
        font-size: 0.85em;
    }
}


@media only screen and (max-width: 667px) {

    /* HEADER */

    .slogan {
        font-size: 4.25em;
    }

    .fa-chevron-down {
        font-size: 2em;
    }

    /* PRODUCERS */

    #producers img,  #products .truffleoil {
        width: 66%;
    }

    /* FOOTER */

    footer a img {
        width: 85%;
    }

    footer h1 {
        font-size: 1em;
    }

    footer p {
        font-size: 0.75em;
    }

    .footer-menu ul li a {
        font-size: 0.85em;
    }

}

@media only screen and (max-width: 568px) {
    .slogan {
        font-size: 3.85em;
    }

    .product-container {
        grid-template-columns: 1fr;
    }

    /* INDIVIDUAL PRODUCTS PAGE LAYOUT */

    .product-description {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .product-description img {
        margin: 0;
    }

    .product-text {
        width: 100%;
        margin: 0 0 35px 0;
    }
}

@media only screen and (max-width: 480px) {
    .slogan {
        font-size: 3em;
    }

    /* INDIVIDUAL PRODUCTS PAGE LAYOUT */

    .product-description img{
        margin-bottom: 25px;
    }

    @media only screen and (max-width: 375px) {
        .slogan {
            font-size: 2.35em;
            top: 50%;
        }
    }

    @media only screen and (max-width: 320px) {}